<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agh.is.systemmonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity android:name=".screens.LoginScreen" >
              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.MainScreen" >
        </activity>
        <activity android:name=".screens.ThermometerActivity" >
        </activity>

        <activity android:name=".screens.AgentInformationScreen" >
        </activity>
        <activity android:name=".screens.SystemDetailsActivity" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" >
        </activity>
        <service android:name=".services.ServerMonitoringService" >
        </service>

    </application>

</manifest>